@page
@using AzureTablesDemoApplication.Models
@using AzureTablesDemoApplication.Utilities
@model FilterResultsModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Error Messages (if there is one) --> 
@if (TempData.ContainsKey("errors"))
{
    var errors = TempData.Get<IEnumerable<MessageModel>>("errors") as IEnumerable<MessageModel>;
    foreach (var error in errors)
    {
        <div class="alert @error.Level.ToCssClass() alert-dismissible fade show" role="alert">
            @error.Message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">            
            </button>
        </div>        
    }
}

<form method="get">

    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-3 fs-5 fw-bold border-bottom border-2">
            Column
        </div>
        <div class="col-md-6 fs-5 fw-bold border-bottom border-2">
            Criteria
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-3 fw-bold">
            Host Name (Partition Key)
        </div>
        <div class="col-md-4 offset-md-2 text-end">
            <input type="text" id="partitionKeyFilter" name="partitionKey" class="form-control" placeholder="Host Name">
        </div>
    </div>
    
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-3 fw-bold">
            Domain Name (Row Key)
        </div>
		<div class="col-md-4 offset-md-2 text-end">
			<input type="text" id="rowKeyFilter" name="rowKey" class="form-control" placeholder="Domain Name">
		</div>
    </div>
    <div class="row g-3 mb-2 justify-content-center">
        <div class="col-md-4 offset-md-5 text-end">
            <button type="submit" class="btn btn-success">Filter data</button>
        </div>
    </div>
</form>

<hr />

<h3>Domain Data</h3> 
<table class="table table-sm mb-1">
    <thead>
        <tr>
            <th>Host Name</th>
            <th>Domain Name</th>
            @foreach (var columnName in Model.ColumnNames)
            {
                <th>@columnName</th>
            }
        </tr>
    </thead>

@foreach( dynamic item in Model.DomainObservations)
{

    <tr>
        <td>@item.HostName</td>
        <td>@item.DomainName</td>
        @foreach (var column in Model.ColumnNames)
        {
            <td>@item[column]</td>
        }
    </tr>
}
</table>

